* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}

.reset {
  visibility: hidden;
  margin-top: 50px;
}

.call-cont1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding: 100px 50px;
  visibility: hidden;
}
.call-cont2 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  padding: 100px 50px;
  visibility: hidden;
}

h1,
h5 {
  text-align: center;
}

.small-icons {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin-top: 40vh;
}

.main-icons {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-top: 50px;
}

.icon-wrap {
  text-align: center;
  width: 100px;
}

img {
  height: 100%;
  object-fit: contain;
}

.scroll-end {
  background-color: aqua;
  width: 80vw;
  height: 200vh;
}
